<!-- https://semantic-ui.com/introduction/getting-started.html -->
{% extends "layout.html" %}

{% block content %}
<script>
    $(document).ready(function () {
        // $("#predict_phrase").click(function () {
        //     $('.ui.modal').modal('show');
        // });    
        var delayInMilliseconds = 500;
        $("#predict_phrase").click(function () {
            var input_phrase = $("#input_phrase").val();
            console.log(input_phrase)
            $.ajax({
                url: '/phrase',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ "phrase": input_phrase }), // ??????
                dataType: 'json'
            });
        });
        $("#predict_phrase").click(function () {
            setTimeout(function () {
                location.href = "/";
            }, delayInMilliseconds);
        });
    });
</script>

<div class="ui hidden divider"></div>

<div class="ui items">
    <div class="item">

        <div class="middle aligned content">
            <div class="field">
                <textarea id="input_phrase" placeholder="Start typing here..."></textarea>
            </div>
        </div>
        <div class="middle aligned content">
            <div class="header">Write a message to test it's sentiment...</div>
            <div class="ui clearing divider"></div>
            <div class="meta">
                <span>A real-time sentiment analysis application.
                </span>
            </div>
            <div class="ui hidden divider"></div>
            <div class="extra">
                <button id="predict_phrase" class="ui primary button">
                    Predict
                </button>
                <button id="clear" class="ui button">
                    Clear
                </button>
            </div>
        </div>
    </div>

</div>


<div class="ui hidden divider"></div>

<div>

    <table class="ui unstackable table">
        <thead>
            <tr>
                <th>Phrase</th>
                <th>Sentiment</th>
                <th>Confidence</th>
                <th>Negative</th>
                <th>Neutral</th>
                <th>Positive</th>
            </tr>
        </thead>
        <tbody>
            {% for phrase in phrases %}
            <tr>
                <td>{{ phrase.phrase }}</td>
                <td>{{ phrase.sentiment }}</td>
                <td>{{ phrase.confidence }}</td>
                <td>{{ phrase.negative }}</td>
                <td>{{ phrase.peutral }}</td>
                <td>{{ phrase.positive }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}